absl-py==0.9.0
astor==0.8.1
beautifulsoup4==4.12.2
brotlipy==0.7.0
certifi==2019.11.28
cffi==1.14.0
charset-normalizer
click==7.1.1
cryptography
et-xmlfile==1.1.0
Flask==1.1.1
Flask-Cors==3.0.8
gast==0.3.3
google-pasta==0.2.0
grpcio==1.27.2
h5py==2.10.0
idna
itsdangerous==1.1.0
Jinja2==2.11.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.2.1
MarkupSafe==1.1.1
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.18.2
olefile==0.46
openpyxl
pandas==1.1.5
Pillow==7.0.0
protobuf==3.11.3
pycparser
pyOpenSSL
PySocks
python-dateutil
pytz==2021.3
PyYAML==5.3.1
requests
scipy==1.4.1
six==1.14.0
soupsieve==2.3.2.post1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
urllib3
Werkzeug==1.0.0
wrapt==1.12.1
xlrd
